# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
.venv/
env/

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore IDE/editor specific files
.vscode/
.idea/


node_modules/
package-lock.json
